.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-heading{
    font-family: "Roboto";
    font-size: 40px;
    color: #ffffff;
    font-weight: 700; 
}